.section {
  background-color: var(--surface);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section_title {
  color: var(--fg);
  font-size: 18px;
  margin-bottom: 12px;
  font-family: "OnestBold", sans-serif;
  margin: 0;
}

.section_content, .section_row {
  display: flex;
  gap: 8px;
  flex-direction: column;
  flex-wrap: nowrap;
}

.section_row {
  flex-direction: row;
  flex-wrap: wrap;
}