/* Бэкдроп */
.backdrop {
  position: fixed;
  inset: 0;
  z-index: 40;
  background-color: rgb(0 0 0 / 0.6); /* --bg c 60 % непрозрачности */
  backdrop-filter: blur(12px);
}

/* Контейнер модального окна */
.modalWrapper {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem; /* 16px */
  cursor: pointer;
}

/* Само модальное окно */
.modal {
  position: relative;
  width: 100%;
  max-width: 32rem; /* 512px */
  padding: 1.5rem; /* 24px */
  border-radius: 0.5rem; /* 8px */
  background-color: var(--surface);
  color: var(--fg);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.5);
  max-height: 800px;
  overflow: auto;
  height: fit-content;
  cursor: initial;
}

/* Кнопка закрытия */
.closeBtn {
  position: absolute;
  top: 0.75rem;   /* 12px */
  right: 0.75rem; /* 12px */
  width: 2rem;    /* 32px */
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 20%;
  background-color: var(--surface-2);
  color: var(--fg);
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.2s;
  z-index: 2;
}

.closeBtn:hover,
.closeBtn:focus {
  background-color: var(--accent-transparent);
}

.hidden {
  display: none;
}